/*Hoja de estilos css externa*/
*{
    font-family: Helvetica;
}
a{
    text-decoration: none;
}

/*Línea con círculo*/
hr{
    margin-top: 60px;
    margin-bottom: 60px;
    margin-left: 10%;
    margin-right: 10%;
    border-width: 1px;
    color: #000000;
}

.contenedor-postres{
    text-align: center;
    margin-bottom: 0;
}

.img-postres{
    margin-top: -200px;
    width: 100px;
    padding: 20px;
    background-color: #fff;
}
/*Headings*/
h1{
    font-family: serif;
    font-size: 50px;
    text-align: center;
    margin: 0;
    padding: 30px;
    color: #fff;
}
h2{
    font-size: 25px;
    text-align: center;
    color: #fff;
}
h3{
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    margin: 0;
    padding: 18px;
}

/*Imágenes*/
.pastel-img{
    width: 100%;
    border-radius: 15px;
    margin-top: 15px;
    margin-bottom: 30px;
}
.pastel-contenedor{
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
}

/*Textos*/
.parrafo-uno{
    font-size: 16px;
    font-weight: 400;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 18px;
    padding-right: 18px;
}
.caracteristicas{
    padding: 8px 40px 8px 40px;
}
.instrucciones{
    text-align: justify;
}

/*Contenedores*/
.contenedor-uno{
    border-style: solid;    
    border-radius: 15px;
    border-width: 1px;
    margin-top: -4px;
    margin-bottom: 15px;
    margin-left: 10%;
    margin-right: 10%;
}
.contenedor-negro{
    border-style: solid;    
    border-radius: 15px;
    border-width: 1px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 10%;
    margin-right: 10%;
    background-color: #000;
}

.contenedor-dos{
    display: inline-block;
    border-style: solid;    
    border-radius: 15px;
    border-width: 1px;
    margin-top: 0;
    margin-bottom: 15px;
    margin-right: 13px;
    padding-left: 3px;
    padding-right: 3px;
}
.contenedor-dos-2{
    display: inline-block;
    border-style: solid;    
    border-radius: 15px;
    border-width: 1px;
    margin-top: 0;
    margin-bottom: 15px;
    padding-left: 3px;
    padding-right: 3px;
}
.contenedor-contenedor-dos{
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
}
.contenedor-tres{
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 0;
}


/*Contenedores para listas*/

.contenedor-cuatro{
    padding-left: 20px;
    padding-right: 20px;
    border-style: solid;    
    border-radius: 15px;
    border-width: 1px;
    margin-top: 3px;
    margin-bottom: 3px;
}
.contenedor-cuatro-negro{
    display: inline-block;
    padding-left: 78px;
    padding-right: 78px;
    border-style: solid;    
    border-radius: 15px;
    border-width: 1px;
    margin-top: 10px;
    margin-bottom: 15px;
    background-color: #000;
}
.caja-de-lista-uno{
    display: inline-block;
    text-align: center;
    margin-right: 15px;
}
.caja-de-lista-dos{
    display: inline-block;
    text-align: center;
}
.caja-de-cajas{
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
}
ul{
    list-style: none;
}
/*Fin de cosas de listas*/


.contenedor-cinco-negro{
    border-style: solid;    
    border-radius: 15px;
    border-width: 1px;
    margin-top: 20px;
    margin-bottom: 15px;
    margin-left: 10%;
    margin-right: 10%;
    background-color: #000;
}
.contenedor-cinco{
    padding-left: 20px;
    padding-right: 20px;
    border-style: solid;    
    border-radius: 15px;
    border-width: 1px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 10%;
    margin-right: 10%;
}

/*Bottom*/
.bottom{
    background-color: #000;
    padding-top: 70px;
    padding-bottom: 70px;
    margin-top: 60px;
}
.redes p{
    display: inline;
    color: #fff;
    margin-left: 10px;
}
.redes img {
    width: 4%;
    vertical-align: middle;
}
.redes{
    text-align: center;
}
.insta-logo{
    margin-left: 10%;
}